
<article class="ts-form">
	<div class="ts-document">
		<div class="ts-row">
			
			<div class="ts-row" id="importBackupSelection">
				<div>
					<p>First upload or select a previously uploaded backup or database backup.</p>
				</div>
				<div class="ts-col-span5">
					<h6>Upload a backup file</h6>
					<form id="upload-newbackup-form" name="upload-newbackup-form" class="ts-form async-admin-ajax-forms" method="post" action="/<%- locals.adminPath %>/backup/newuploadbackup"  data-successsubmitfunction="useUploadedBackup" enctype='multipart/form-data' >
						<input type="hidden" name="_csrf" value=<%= locals.token %> >
						<input type="file" name="upload-backup_button" id="upload-backup_button" value="Upload" class="ts-button autoFormSubmit ts-col-span12 ts-color-default"/>
					</form>					
				</div>
				<div class="ts-col-span1 ts-text-center">
					<h6 style="margin-top:1.5em">OR</h6>
				</div>
				<div class="ts-col-span6 ts-pull-right">
					<h6>Use an existing Backup File</h6>
					<div class="ts-row ts-container-forminput ts-form">
						<select id="existingbackuplist" name="existingbackuplist">
							<% if(existingbackups && existingbackups.length<1){%>
							<option>No backups files</option>
							<%}
							else{%>
								<option>Select an existing backup</option>
							<%
								existingbackups.forEach(function(backupfile){
									%>
									<option value="<%- backupfile%>"><%- backupfile%></option>
									<%
								});
								} %>
						</select>
					</div>
				</div>
			</div>
			<div class="ts-row" id="importFormContainer" style="display:none;">
				<div class="ts-col-span12">
					<form id="restore-periodic-backup"  name="restore-periodic-backup" class="ts-form async-admin-ajax-forms" method="post" action="/<%- locals.adminPath %>/backup/restorebackup" data-successsubmitfunction="displayImportBackupStatus" data-beforesubmitfunction="showImportStatusResult" data-errorfunction="handleAjaxError">
						<h6>Selected Import Backup</h6>
						<div class="ts-row ts-container-forminput">
							<div class="ts-col-span11">
								<p>This restores your content, themes, extensions, and database from a backup zip archieve.</p>
							</div>
						</div>
						<input type="hidden" name="_csrf" value=<%= locals.token %> >
						<input type="hidden" name="previousbackup" id="previousbackup" >

						<div class="ts-row ts-container-forminput">
							<div class="ts-col-span2">
								<small>Name:</small>
							</div>
							<input type="text" id="backuppathdisplay" class="ts-col-span10" name="backuppathdisplay" value=""  disabled="disabled"  >
							<input type="hidden" id="backuppath" class="ts-col-span10" name="backuppath" value=""   >
							<input type="hidden" id="backupassetid" class="ts-col-span10" name="backupassetid" value="" >
						</div>
						<div class="ts-row ts-form-row">
							<div class="ts-col-span6">
								<input type="checkbox" id="removeBackupAsset" name="removeBackupAsset"/>
								<label class="ts-label" for="removeBackupAsset">Remove Backup Archive from disk and database </label>
							</div>
							<div class="ts-col-span6">
								<div class="ts-text-dark-error-color">
								<input type="checkbox" id="wipeAndReplaceDB" name="wipeAndReplaceDB"/>
								<label class="ts-label" for="wipeAndReplaceDB">
									Wipe and Replace DB
								</label>
								</div>
								<div class="ts-label">
									<span class="ts-color-error ts-text-small">WARNING:</span><span class="ts-text-small"> This will replace all data in the database, a databse back up backup will be created in content/files/backups</span>
								</div>
							</div>
						</div>
						<div class="ts-row ts-container-forminput ts-text-center">
							<input type="submit" name="save_button" style="font-size: 125%;" value="Restore Backup" class="ts-button ts-color-success"/>
						</div>
					</form>
				</div>
			</div>
			<div class="ts-row">
				<div id="importstatuscontainer" class="ts-col-span12 " style="display:none;">
					<h6>Import status</h6>
					<textarea id="backupimportstatus" class="textarea-tall noFormSubmit ts-col-span12">
						Importing Data
					</textarea>
				</div>
			</div>
		</div>
	</div>
</article>